#header,
.page_title {
    display: none;
}

/* GLOBAL */
html {
    --primary-color: #231F20;
    --text-color: #000000;
    --accent-color: #51C5CF;
    --pink-color: #E64094;
}

:is(h1, h2, h3, h4, h5, h6):after {
    display: none;
}

html h1 {
    color: var(--primary-color);
    font-size: 66px;
    font-weight: 900;
    line-height: 1.212em;
    letter-spacing: -2.64px;
}

html h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.35em;
    letter-spacing: -1.6px;
    text-transform: capitalize;
}

html h3 {
    color: var(--text-color);
    font-size: 28px;
    font-weight: 600;
    line-height: 1.214em;
    letter-spacing: -1.12;
}

html body h4,
#custom-accordion .vc_tta-panel-title{
    color: var(--text-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.633em;
    letter-spacing: -0.96px;
}

html h5 {
    color: var(--accent-color);
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5em;
    text-transform: uppercase;
}

html h6 {
    font-weight: 800;
    padding-top: 0;
}

html p {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.625em;
    letter-spacing: 0.016px;
}



#fullpage a, 
#fullpage button {
    color: var(--text-color);
    font-size: 16px !important;
    font-weight: 800 !important;
    line-height: 1.5em !important;
    text-transform: capitalize !important;
    cursor: pointer;
}

/* ==================================================== */

/* REUSABLE CSS */

.extra-bold h3 {
    font-weight: 800;
    color: #46065C;
    letter-spacing: -1.12px;
}

.pink-text h3 {
    color: var(--pink-color);
}

.overflow-hidden {
    overflow: hidden;
}

.block {
    display: block !important;
}

.vc_section[data-vc-full-width]>.vc_row.box-container {
    max-width: 1140px;
    margin: auto;
}

.vc_section[data-vc-full-width]>.vc_row.box-container.max-w-500 {
    max-width: 500px;
    margin: auto;
}

.vc_section[data-vc-full-width]>.vc_row.box-container.max-w-765 {
    max-width: 765px;
    margin: auto;
}

.vc_section[data-vc-full-width]>.vc_row.box-container.max-w-850 {
    max-width: 850px;
    margin: auto;
}

.vc_section[data-vc-full-width]>.vc_row.box-container.max-w-1280 {
    max-width: 1280px;
    margin: auto;
}

.vc_section[data-vc-full-width]>.vc_row.box-container.max-w-1366 {
    max-width: 1366px;
    margin: auto;
}

.vc_section[data-vc-full-width]>.vc_row.box-container.max-w-1440 {
    max-width: 1440px;
    margin: auto;
}

#fullpage .underline-btn button {
    color: var(--accent-color);
    background: transparent;
    border: none;
    padding: 0 ;
    font-size: 20px !important;
    line-height: 1.25em;
    letter-spacing: 0.8px;
    text-transform: uppercase !important;
    text-decoration: underline;
    text-align: center;
    padding-right: 10px;
}

.underline-btn i.vc_btn3-icon.stm-stm14_right_arrow {
    left: 100%;
}

.highlight-text .highlight {
    color: var(--accent-color);
}

.highlight-text.white span.highlight {
    color: #ffffff;
}

.normal-text h2 {
    text-transform: initial;
}

.large-text p {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.6em;
    letter-spacing: -0.48px;
}

.medium-text p {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.75em;
    letter-spacing: 0.016px;
}

#fullpage .round-btn button.vc_btn3.vc_btn3-icon-right {
    border-radius: 30px;
    padding: 18px 60px !important;
    background: var(--accent-color);
    color: #ffffff;
    border-color: var(--accent-color);
    font-weight: 700 !important;
    font-size: 18px;
}

#fullpage .round-btn button.vc_btn3.vc_btn3-icon-right:hover {
    background: #ffffff;
    color: var(--accent-color);
}

.round-btn button.vc_btn3.vc_btn3-icon-right i {
    position: static;
    display: inline;
    margin-left: 5px;
}

#fullpage .round-btn .vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-icon-right:not(.vc_btn3-o-empty) .vc_btn3-icon {
    color: #ffffff;
}

#fullpage .round-btn .vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-icon-right:not(.vc_btn3-o-empty):hover .vc_btn3-icon {
    color: var(--accent-color);
}

#fullpage .inline-link a {
    text-transform: initial !important;
    text-decoration: underline;
    color: var(--pink-color) !important;
}

.font-white p,
.font-white h2,
.font-white h4{
    color:white;
}

#fullpage .blue-link.font-upcase a{
    text-transform:capitalize !important;
}

#fullpage .blue-link a {
    color:#51C5CF !important;
    text-transform:lowercase !important;
    font-weight:400 !important;
}

/* ==================================================== */


/* HEADER */

#custom-header {
    background-position: right !important;
}

#custom-header ul.sub-menu {
    box-shadow: 0 0 24px rgba(81, 197, 207, 0.08)
}

#custom-header .menu-item-has-children > a:after {
    content: '';
    background: url(/wp-content/uploads/2023/04/Chevron.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 9px;
    height: 6px;
    display: inline-block;
    margin: 0 0 2px 7px;
}

#custom-header > div {
    display: flex;
    align-items: center;
}

#site-logo img{
    width: 100%;
    max-width: 189px;
}

.header-menu #menu-header-menu {
    display: flex;
}

.header-menu #menu-header-menu > li {
    background: none;
}

.header-menu #menu-header-menu li a {
    border: none !important;
}

.header-menu #menu-header-menu > li > .sub-menu {
    display: none;
}

.header-menu > div {
    margin-bottom: 0;
}

.header-menu #menu-item-5284 .sub-menu li a:hover {
    color: var(--accent-color);
}


#header-btn {
    float: right;
    margin-bottom: 0;
}

#header-btn button {
    color: #ffffff !important;
    background: transparent;
}

/* ==================================================== */

/* BODY */

/* ==================================================== */

/* FOOTER */

.overlay::before {
    content: '';
    background: url(/wp-content/uploads/2023/03/Element.png);
    background-size: 28%;
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

#custom-footer p,
#custom-footer a,
#custom-footer h6{
    color: #ffffff;
    text-transform: initial !important;
}

#custom-footer p,
#custom-footer a {
    font-weight: 400 !important;
}

#custom-footer .footer-contact-details a:last-child {
    color: var(--accent-color);
    text-decoration: underline;
}

#custom-footer .footer-logo img{
    max-width: 81px;
    width: 100%;
}

#social-icons .wpb_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#social-icons .vc_icon_element,
#social-icons .vc_icon_element-inner{
    margin: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
}

#social-icons .vc_icon_element-icon {
    font-size: 16px !important;
}

#social-icons .typcn-social-facebook {
    font-size: 22px !important;
    margin-top: -1px;
}

#custom-footer .menu li {
    background: none;
    border: none;
}

#custom-footer .menu a {
    border: none;
    padding: 0;
}

#custom-footer .policy-links p {
    display: flex;
    gap: 25px;
    justify-content: flex-end;
    align-items: center;
}

#custom-footer .policy-links a {
    color: var(--accent-color) !important;
}

#custom-footer .vc_row:first-child .wpb_column:first-child{
    width: 30%;
}

#custom-footer .vc_row:first-child .wpb_column:not(:first-child) {
    width: 20%;
}

#custom-footer .vc_row:first-child .wpb_column:last-child {
    width: 10%;
}

/* ==================================================== */

@media (min-width:1025px){
    .ct-burgermenu{
        display:none;
    }
    
    .header-menu #menu-item-5284 a:hover:before{
        content:'';
        position: absolute;
        height: 200%;
        width: 100%;
    }
    .header-menu #menu-item-5284 a:hover + .sub-menu,
    .header-menu #menu-item-5284 .sub-menu:hover{
        display: flex !important;
    }
    
    .header-menu #menu-item-5284 .sub-menu {
        flex-wrap: wrap;
        column-gap: 35px;
    }
    
    .header-menu #menu-item-5284 .sub-menu li{
        width: calc(25% - 27px);
    }
    
    .header-menu #menu-item-5284 .sub-menu li a {
        font-weight: 600 !important;
    }
    
    .header-menu #menu-item-5284 ul {
        position: absolute;
        background: #ffffff;
        width: 744px;
        left: calc(-100% - 30px);
        border-radius: 4px;
        padding: 30px 40px;
        transform: translateY(25px);
        z-index: 1;
    }
    
    section#custom-header {
        overflow: visible;
    }

    .hide-on-desktop {
        display: none !important;
    }
}


@media (min-width:768px){
    .custom-cta:hover h3 {
        font-weight: 800;
        color: #46065C;
        letter-spacing: -1.12px;
    }

    .hide-on-tablet {
        display: none !important;
    }
}


@media (max-width:1024px){
    br {
        display: none;
    }
    
    h1 {
        font-size: 55px;
    }
    
    h2 {
        font-size: 35px
    }
    
    h3 {
        font-size: 25px
    }
    
    h4{
        font-size: 22px;
    }
    
    .medium-text p{
        font-size: 16px;
    }
    
    .mobile-hidden,
    #header-btn {
        display:none;
    }
    
    #custom-header {
        overflow: visible;
    }
    
    #custom-header .wpb_column {
        position: static;
    }
    
    .header-menu.mobile-hidden {
        position: absolute;
        top: 100px;
        width: 100%;
        background-color: #fff;
        left: 0;
    }
    
    .header-menu #menu-header-menu {
        width: 100%;
        display: block;
    }
    
    #custom-header {
        padding-right: 30px !important
    }
}

@media (max-width:767px){
    h2 {
        font-size: 30px !important;
    }
    
    h3 {
        font-size: 25px !important;
    }
    
    h4{
        font-size: 20px;
    }
    
    h5 {
        font-size: 10px;
    }
    
    h6 {
        font-size: 14px;
    }
    
    .large-text p {
        font-size: 16px;
    }
    
    .text-center-mb p{
        text-align:center !important;
        margin:10px;
    }

    .hide-on-mobile {
        display: none !important;
    }
    
    .overlay::before {
        background-size: cover;
        left: 25%;
    }
    
    .overlay::before{
        background-size:100%;
    } 
       
    .highlight-text.white span.highlight{
        color:black;
    }    

    .nomarginmobile{
        margin-bottom:0 !important;
    }

    .copyright-footer{
        text-align:center;
        margin-bottom:20px;
    }

    #custom-footer .policy-links p{
        justify-content:center;
        margin-top:20px;
        gap: 20px;
        flex-direction: row;
    }
    
    #custom-footer p {
        font-size: 12px;
        line-height: 2em;
    }
    
    #custom-footer .vc_row .wpb_column {
        width: 100% !important;
    }
    
    .footer-contact-details p{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px !important;
    }
    
    #custom-footer a {
        font-size: 14px !important;
        line-height: 2em !important;
    }
    
    #custom-footer .nomarginmobile {
        margin-bottom: 50px !important;
    }
    
    #custom-header {
        background: #ffffff !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    
    #custom-header span.vc_icon_element-icon.fas.fa-bars {
        color: #000000;
        font-size: 25px !important;
    }
    
    .ct-burgermenu .vc_icon_element-inner {
        height: 30px !important;
        width: 30px !important;
    }
}